.frm-login{
	max-width: 290px;
	margin: 0 auto;
}

.lbl-login{
	font-weight: 300;
	color: white;
	float: left;
}

.header-admin{
	background-color: #a00631; 
	height: 70px;
	z-index: 1024;
    position: absolute;
    width: 100%;
}

.contenido{
	overflow: hidden;
	/*margin-top: 70px;*/
	/*z-index: 1024;*/
}

.header-admin .logo{
	margin-top: 7px;
}

.panel-perfil{
	width: 250px;
	margin-top: 13px;
}

.per-nombre{
	width: 130px;
	float: left;
	color: white;
	text-align: right;
	margin-top: 10px;
}

.per-user{
	width: 60px;
	float: left;
	text-align: center;
}

.per-user .fa{
	font-size: 35px;
	color: white;
}

.per-angle{
	width: 60px;
	float: left;
}

.per-angle .fa{
	font-size: 40px;
	color: white;
}

.parent-nav{
	list-style-type: none;
	margin-left: -30px;
	z-index: 2048;
}

.active-nav{
	cursor:pointer;
	position: absolute;
    z-index: 1024;
}

.active-nav:hover > .nav{
	display: block;
	/*color: orange;*/
}

.nav{
	display: none;
	width: 200px;
	background-color: white;
	margin-left: -160px;
	border-radius: 4px;
	
	font-weight: bold;
	font-size: 12px;

	-webkit-box-shadow: -1px 11px 21px -7px rgba(0,0,0,0.46);
	-moz-box-shadow: -1px 11px 21px -7px rgba(0,0,0,0.46);
	box-shadow: -1px 11px 21px -7px rgba(0,0,0,0.46);

	overflow: hidden;
}

.nav .fa{
	font-size: 16px;
	color: black;
}

.nav li{
	padding: 6px 12px;
	cursor: pointer;
	height: 30px;
}

.nav li:hover{
	background-color: #f4f4f4;
}

.pnl-perfil{
	margin-top: 50px;
	margin-left: 100px;
	/*font-size: 14px;*/
}

.pnl-perfil table tr{
	height: 35px;
}

.btn-guardar{
	margin-top: 10px;
	margin-right: 10px;
}

.btn-cancelar{
	margin-top: 10px;
}